.note{
	text-align: center;
	padding-top:5px; 
	color:black;
	font-weight: bold;
}
#overlay{
	position: fixed;
	background-color: red;
	border:3px solid yellow;
	width:200px;
	height: 200px;
	margin-left: 80vw;
	margin-top: 67vh;
	}
.overlaycontent{
	background-color: red;
	
}
img{
	margin-top: 10px;
	margin-left: 23px;
}